# MacOS
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.gitkeep

# Node/Frontend
node_modules/
dist/
.vite/

# Database & Local Logs
# *.sqlite3
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/